* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --image-width: 30vw;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.carousel img {
  display: block;
  width: var(--image-width);
  height: var(--image-width);
}

.carousel button {
  width: calc((100vw - var(--image-width)) / 2);
  height: 100vh;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
